Employee Details
 <table>
   <!-- <thead>
     <tr>
       <th [attr.colspan]="columnSpan">
        
       </th>
       <th>emp no</th>
       <th>emp name</th>
       <th>pwd</th>
     </tr>
   </thead> -->
   <tr><th>empno</th>
   <th>empname</th>
   <th>password</th></tr>
   <tbody>
   <tr *ngFor="let emp of employeees">
     
     <td>{{emp.no}}</td>
     <td>{{emp.name}}</td>
     <td>{{emp.pwd}}</td>
     <!-- <td><button (click)="deleteFieldValue()">delete</button></td> -->
   </tr>
   <tr *ngIf='showDetails'>
   <td>empname</td>
   <td>{{empname}}</td>
   
  
  </tr>
  <!-- <tr *ngIf='showDetails'>
    <td>salary</td>
    <td>{{salary}}</td>
  </tr> -->
</tbody>
 </table><br/>
 enter empno:<input type="text" [(ngModel)]="empno"/><br/><br/>
 enter empname:<input type="text" [(ngModel)]="newname"/><br/><br/>
 enter password:<input type="text" [(ngModel)]="password"/><br/><br/>
 
 <!-- <button (click)='clickShow()'>Display</button> -->
 <button  name="names" (click)="addFieldValue()" >Register</button>
 <button  name="names" (click)="btnLogin()" >Login</button>
 
 