<!--The content below is only a placeholder and can be replaced.-->
<html>
  <head>
    
  </head>
<div style="text-align:center">
  
  <h1>other name is:{{getF1()}}</h1>
  <img src='{{imagepath}}'/>
  <br/>
 enter your name <input type="text" [(ngModel)]="name"/>
 
<br/>

enter your age:
  <input type="text" [(ngModel)]="age"/>
  <br/>
  enter your location:
  <input type="text" [(ngModel)]="location"/>
  <br/>
 select your salary <select [(ngModel)]="sal">
   <option>-select-</option>
    <option>1000</option>
    <option>2000</option>
    <option>3000</option>
  </select>
  
 <p> your name is:{{name}}</p>
<p>your age is:{{age}}</p>
<p> your location is:{{location}}</p>
<p>your salary is:{{sal}}</p>


</div>
</html>

